<% if logged_in? && data_check %>
  <div class="row">
    <h1><%= current_user.name %>さんの最新の健康診断結果</h1>
    
    <div class="col-sm-6 mb-3">
      <canvas id="RaderChart"></canvas>
      <p>※各指標の標準値を80にした場合の診断結果を表示しています</p>
    </div>
  </div>
    
  <div class="row">
    <h1><%= current_user.name %>さんのxxの診断推移</h1>
    <div class="col-sm-8">
      <canvas id="LineChart"></canvas>
<%
=begin
%>
  <%= form_with url: root_path do |f| %>
    <%= f.select :data_column, {'LDLコレステロール': 'ldl_cholesterol', '空腹時血糖値': 'fpg'}, {selected: 'ldl_cholesterol'}, { class: 'form-control' , required: true } %>
    <%= f.submit %>
  <% end %>
<%
=end
%>
    </div>
  </div>
      
  <script>
    const rader_ctx = document.getElementById("RaderChart");
    
    const rader_data = {
      labels: [
        'BMI',
        'LDLコレステロール',
        '空腹時血糖値',
        'γ-GTP',
        '尿酸値'
      ],
      datasets: [{
        label: '最新の診断結果',
        data: [<%= @bmi_radar %>, <%= @ldl_cholesterol_radar %>, <%= @fpg_radar %>, <%= @gamma_gtp_radar %>, <%= @uric_acid_radar %>],
        fill: true,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgb(255, 99, 132)',
        pointBackgroundColor: 'rgb(255, 99, 132)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(255, 99, 132)'
      }, {
        label: '標準値',
        data: [80, 80, 80, 80, 80],
        fill: true,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgb(54, 162, 235)',
        pointBackgroundColor: 'rgb(54, 162, 235)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(54, 162, 235)'
      }]
    };
    
    const myRaderChart = new Chart(rader_ctx, {
      type: 'radar',
      data: rader_data,
      options: {
        elements: {
          line: {
            borderWidth: 3
          }
        },
        scales: {
          r: {
            suggestedMin: 0
          }
        }
      },
    });
    
    const line_ctx = document.getElementById("LineChart");

    const line_data = {
      labels: <%= raw @linechart_data_hash.keys.sort %>,
      datasets: [{
        label: '過去の診断結果',
        data: <%= raw @linechart_data_hash.values.sort_by{|keys|}.reverse %>,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    };
    
    const myLineChart = new Chart(line_ctx, {
      type: 'line',
      data: line_data,
     });
  </script>

  <% elsif logged_in?%>
    <p>
      健康診断結果が未登録です。
      最新の健康診断結果を登録しましょう！
    </p>
  <% else %>
    <h1>健康診断アプリです！</h1>
    <p>アカウントの無い方はsingupしましょう！</p>
  <% end %>